:root {
  --bg: #f7f7f7;
  --body-bg: #f7f7f7;
  --bg-accent: #e0e0e0;
  --primary-text-color: #393e46;
  --secondary-text-color: #8e9297;
  --text-color: #eeeeee;
  --nav-size: 60px;
  --border: 1px solid #dfdfdf;
  --border-radius: 8px;
  --speed: 300ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg);
  color: var(--primary-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-button {
  color: var(--text-color);
  width: 300px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 0.9375rem;
}

.top-nav {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.side-nav {
  width: calc(var(--nav-size) * 0.95);
  height: 100%;
  position: fixed;
  background-color: var(--bg);
  border-right: var(--border);
  z-index: 1;
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #904e95,
    #e96443
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #904e95,
    #e96443
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.side-nav .icon-button {
  background-color: transparent;
}

.menu-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side-nav .icon-button svg {
  fill: var(--text-color);
}

.menu-options .icon-button svg {
  width: 22px;
  height: 22px;
}

.menu-options .nav-item {
  margin-top: 1.5rem;
}

.menu-icon {
  margin: 1rem 0 2rem 0;
}

.menu-icon .icon-button svg {
  width: 24px;
  height: 24px;
}

.left-content {
  margin-left: 6rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search .icon-button {
  background-color: var(--bg-accent);
}

.right-content {
  flex: 1;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-menu {
  border-left: 2px solid var(--bg);
  background-color: rgb(255, 255, 255, 0.1);
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 2px;
  transition: filter 300ms;
}

.top-nav.icon-button:hover {
  filter: brightness(1);
  background-color: var(--bg-accent);
}

.icon-button svg {
  fill: var(--primary-text-color);
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--text-color);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  z-index: 1;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu-item:hover {
  background-color: var(--bg);
}

.icon-right {
  margin-left: auto;
  background: none;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.option-name {
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 20px;
  margin: -4px 0;
  gap: normal;
}

.profile-link {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 5px;
  transition: filter 300ms;
  margin: 10px 10px;
  border-radius: 24px;
  padding: 10px;
}

.profile-link:hover {
  filter: brightness(1);
  background-color: var(--bg-accent);
}

.profile-link > span {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 15px;
}

.initials {
  font-size: 0.9em;
  text-align: center;
  color: var(--bg);
}

.main-content {
  display: flex;
  flex-direction: column;
}

.contacts-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 2rem 2rem 8rem;
  height: 300px;
  background-color: var(--bg);
}

.contacts-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--bg);
}

.contacts-list {
  flex: 1.5;
  display: flex;
  margin: 2rem 2rem 2rem 8rem;
  background-color: var(--bg);
}
.contacts-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 2rem 0rem;
}

.contact-detail {
  flex: 1;
  display: flex;
  margin-bottom: 50px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--bg-accent);
}

.user-contact-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.notices {
  display: flex;
  height: 250px;
  margin-bottom: 50px;
  background-color: var(--bg-accent);
}

.table-container {
  width: 80%;
}

table {
  width: 100%;
  border-spacing: 0;
}

thead {
  background-color: var(--bg-accent);
  color: grey;
}

.add-contacts-icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-text-color);
}

th,
td {
  padding: 1rem;
  text-align: left;
}

tr:hover {
  background-color: var(--text-color);
  cursor: pointer;
}

thead tr:hover {
  background-color: initial;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.view-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view-col .user-info {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-info .initials {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.view-col .initials {
  margin-top: 50px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-col .work-info {
  line-height: 12px;
  margin-bottom: 30px;
}

.contact-info .user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  line-height: 0.1rem;
}

.user-info sub {
  color: var(--secondary-text-color);
}

.user-info h3 {
  line-height: 1rem;
}

.contacts-header .top-content {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
}

.top-content .ct-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0.6rem;
}

.top-content .sort-contacts {
  margin-left: 2rem;
}

.search-box > input {
  --search-input-size: calc(var(--nav-size) * 0.38);
  height: var(--search-input-size);
  width: 280px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 7px 16px 9px;
  padding-right: 40px;
  background-color: var(--bg-accent);
  color: var(--primary-text-color);
}

.search-box {
  position: relative;
}

.search-box .input-icon {
  width: 18px;
  height: 18px;
  top: -4px;
  left: 310px;
  font-size: 30px;
  position: absolute;
}

.contacts-header .bottom-content {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.add-ct-btn {
  margin-left: 2rem;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0rem 1rem;
  color: var(--text-color);
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff8251,
    #fd552b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #de6fe6,
    #ff7653
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

dl {
  display: grid;
  grid-template-columns: auto auto;
}

dd {
  margin-left: 80px;
  margin-right: 20px;
  margin-bottom: 30px;
}

dt::after {
  content: ': ';
}

dt {
  margin-left: 20px;
  color: var(--secondary-text-color);
}

dd,
dt {
  font-size: 13px;
}

.user-contact-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: var(--body-bg);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2em;
  line-height: 1;
  background: var(--primary-text-color);
  border: none;
  outline: none;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  stroke: white;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}

._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.user-info-modal-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-info-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-modal-btn {
  background-color: var(--bg-accent);
}

.contact-modal-btn:hover {
  background-color: var(--primary-text-color);
}

.contact-modal-btn:hover svg {
  fill: var(--text-color);
}

dd > input {
  --search-input-size: calc(var(--nav-size) * 0.38);
  height: var(--search-input-size);
  width: 200px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 7px 16px 9px;
  padding-right: 40px;
  background-color: var(--bg-accent);
  color: var(--primary-text-color);
}

.user-form dt {
  margin-top: 10px;
  margin-left: 10px;
}

.notices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#svg-gradient {
  --color-stop-1: #a770ef;
  --color-stop-2: #de6fe6;
  --color-stop-3: #ff7653;
}

.view-icon svg {
  width: 110px;
  height: 110px;
  fill: url(#svg-gradient) #a770ef;
}

.svg-icon {
  width: 200px;
  height: 200px;
}

.notices sub {
  color: var(--secondary-text-color);
}

/* Chat */
.chat-wrapper {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 20px;
  width: 290px;
  height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.chat-wrapper--is-visible {
  opacity: 1;
  transform: translateY(0);
}

.chat-title-bar {
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff8251,
    #fd552b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #de6fe6, #ff7653);
  border-style: none;
  color: #fff;
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
}

.chat-title-bar-close {
  opacity: 0.7;
  cursor: pointer;
  color: #f54747;
}

.chat-title-bar-close:hover {
  opacity: 0.87;
}

.chat-log {
  padding: 8px;
  flex: 1;
  overflow: auto;
}

.chat-self,
.chat-other {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.chat-self {
  padding-left: 25%;
}

.chat-self .chat-avatar {
  margin-left: 6px;
}

.chat-self .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.chat-self .chat-message-inner {
  text-align: right;
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #e96443; /* fallback for old browsers */
  color: #fff;
}

.chat-other {
  padding-right: 25%;
}

.chat-other .chat-avatar {
  margin-right: 6px;
}

.chat-other .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.chat-other .chat-message-inner {
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #f1f0f0;
}

.chat-message a {
  color: #212529;
}

.chat-form > input {
  background-color: rgb(244, 226, 255);
}

.chat-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

.floating-alert {
  display: none;
  position: absolute;
  z-index: 999;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: floatingAlert ease-in 5s forwards;
  -webkit-animation: floatingAlert ease-in 5s forwards;
  -o-animation: floatingAlert ease-in 5s forwards;
  animation: floatingAlert ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.floating-alerts .floating-alert:last-of-type {
  display: block;
}

@keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

@-webkit-keyframes floatingAlert {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }

  9% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  91% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(1.2);
  }
}

.small-header-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.custom-tooltip {
  padding: 8px 10px !important;
}

.chat-close-icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--primary-text-color);
}

.chat-close-icon svg {
  fill: var(--text-color);
}
