:root {
  --bg: #f7f7f7;
  --body-bg: #f7f7f7;
  --bg-accent: #e0e0e0;
  --primary-text-color: #393e46;
  --secondary-text-color: #8e9297;
  --text-color: #eeeeee;
  --nav-size: 60px;
  --border: 1px solid #dfdfdf;
  --border-radius: 8px;
  --speed: 300ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-button {
  color: var(--text-color);
  width: 300px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 0.9375rem;
}

.top-nav {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.side-nav {
  width: calc(var(--nav-size) * 0.95);
  height: 100%;
  position: fixed;
  background-color: var(--bg);
  border-right: var(--border);
  z-index: 1;
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #904e95,
    #e96443
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #904e95,
    #e96443
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.side-nav .icon-button {
  background-color: transparent;
}

.menu-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.side-nav .icon-button svg {
  fill: var(--text-color);
}

.menu-options .icon-button svg {
  width: 22px;
  height: 22px;
}

.menu-options .nav-item {
  margin-top: 1.5rem;
}

.menu-icon {
  margin: 1rem 0 2rem 0;
}

.menu-icon .icon-button svg {
  width: 24px;
  height: 24px;
}

.left-content {
  margin-left: 6rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search .icon-button {
  background-color: var(--bg-accent);
}

.right-content {
  flex: 1;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-menu {
  border-left: 2px solid var(--bg);
  background-color: rgb(255, 255, 255, 0.1);
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.6);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 2px;
  transition: filter 300ms;
}

.top-nav.icon-button:hover {
  filter: brightness(1);
  background-color: var(--bg-accent);
}

.icon-button svg {
  fill: var(--primary-text-color);
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--text-color);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  z-index: 1;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu-item:hover {
  background-color: var(--bg);
}

.icon-right {
  margin-left: auto;
  background: none;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.option-name {
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 20px;
  margin: -4px 0;
  gap: normal;
}

.profile-link {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 5px;
  transition: filter 300ms;
  margin: 10px 10px;
  border-radius: 24px;
  padding: 10px;
}

.profile-link:hover {
  filter: brightness(1);
  background-color: var(--bg-accent);
}

.profile-link > span {
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 15px;
}

.initials {
  font-size: 0.9em;
  text-align: center;
  color: var(--bg);
}

.main-content {
  display: flex;
  flex-direction: column;
}

.contacts-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 2rem 2rem 8rem;
  height: 300px;
  background-color: var(--bg);
}

.contacts-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--bg);
}

.contacts-list {
  flex: 1.5;
  display: flex;
  margin: 2rem 2rem 2rem 8rem;
  background-color: var(--bg);
}
.contacts-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 2rem 0rem;
}

.contact-detail {
  flex: 1;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--bg-accent);
}

.notices {
  display: flex;
  height: 250px;
  margin-bottom: 50px;
  background-color: var(--bg-accent);
}

.table-container {
  width: 80%;
}

table {
  width: 100%;
}

thead {
  background-color: var(--bg-accent);
  color: grey;
}

.add-contacts-icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-text-color);
}

th,
td {
  padding: 1rem;
  text-align: left;
}

tr:hover {
  background-color: var(--text-color);
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.view-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view-col .user-info {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-info .initials {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.view-col .initials {
  margin-top: 50px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-col .work-info {
  line-height: 12px;
  margin-bottom: 30px;
}

.contact-info .user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  line-height: 0.1rem;
}

.user-info sub {
  color: var(--secondary-text-color);
}

.user-info h3 {
  line-height: 1rem;
}

.contacts-header .top-content {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
}

.top-content .ct-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0.6rem;
}

.top-content .sort-contacts {
  margin-left: 2rem;
}

.search-box > input {
  --search-input-size: calc(var(--nav-size) * 0.38);
  height: var(--search-input-size);
  width: 280px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 7px 16px 9px;
  padding-right: 40px;
  background-color: var(--bg-accent);
  color: var(--primary-text-color);
}

.search-box {
  position: relative;
}

.search-box .input-icon {
  width: 18px;
  height: 18px;
  top: -4px;
  left: 310px;
  font-size: 30px;
  position: absolute;
}

.contacts-header .bottom-content {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.add-ct-btn {
  margin-left: 2rem;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0rem 1rem;
  color: var(--text-color);
  background: #e96443; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff8251,
    #fd552b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #de6fe6,
    #ff7653
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

dl {
  display: grid;
  grid-template-columns: auto auto;
}

dd {
  margin-left: 80px;
  margin-bottom: 30px;
}

dt::after {
  content: ': ';
}

dt {
  color: var(--secondary-text-color);
}

dd,
dt {
  font-size: 13px;
}

.user-contact-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 100px);
}
